In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'names':['Kim','Lee','Choi','Park'],
     'points':[50,60,75,70],
     'years':[2017,2016,2017,2018]}
print(data)
df=pd.DataFrame(data)
print()
print(df)
print(df.name)
print(df.index.name)
print(df.columns)
df.columns.name='Info'
df.index.name='Num'
print(df)

{'names': ['Kim', 'Lee', 'Choi', 'Park'], 'points': [50, 60, 75, 70], 'years': [2017, 2016, 2017, 2018]}

  names  points  years
0   Kim      50   2017
1   Lee      60   2016
2  Choi      75   2017
3  Park      70   2018

AttributeError: 'DataFrame' object has no attribute 'name'

In [ ]:
df

In [ ]:
data={'name':['Kim','Lee','Park','Hong','Park'],
     'year':[2014,2015,2016,2015,2016],
     'points':[1.5,1.7,3.6,2.4,2.9]}
df=pd.DataFrame(data)
df
df2=pd.DataFrame(data, columns=['year','name','points','penalty'],\
                index=['one','two','three','four','five'])
df2.penalty=[0.1,1.2,0.3,0.4,0.5]
df2['penalty']=1.0
df2['zero']=0
df2

In [ ]:
print(df2.loc['two':,'year':'points'])

In [ ]:
#df.penalty=[0.1,0.2,0.3,0.4,0.5]
#df2['height_point']=df2.points>2.0
#df2
#val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
#df2['aaa']=val
#df2['bbb']=0.3
df2.bbb=[1,2,3,4,5]
#df2['bbb']=3
#del df2['zero']
#del df2['height_point']
#del df2['aaa']
del df2['bbb']
df2

In [ ]:
df2.loc['six']=[2013,'Jun',4.3,2.0]
df2

In [ ]:
df2.iloc[[1,3,5],[0,2]]

In [ ]:
print(df2.loc[df2['points']>2],)

In [ ]:
print(df2.loc[df2['years']>2014,['years','points']])

In [ ]:
df2.loc[df2['points']>3, 'penalty']=0
df2['aaa']=0
df2

In [ ]:
df2.loc[(df2['years']>2015) & (df2['points']>3),'aaa']=15
df2

In [ ]:
df=pd.DataFrame(np.random.rand(6,4))
df

In [ ]:
pd.to_datetime('20191118')

In [ ]:
print(df.sum(axis=0, skipna=False))
print(df.sum(axis=1))

In [ ]:
#df2=pd.DataFrame(np.random.rand(6,4),columns=['A','B','C', 'D'],\
                    #index=pd.date_range('20190701', periods=6))
#df2['A'].value_counts()

data={'A':[1,2,1,4],'B':['a','b','a','c']}
df=pd.DataFrame(data)
df['B'].value_counts()
df.sort_values(by='B',ascending=False)
df

df3=pd.DataFrame(np.random.rand(4,3),columns=['b','d','e'],\
                index=['Seoul','Incheon','Busan','Daegu'])
df3

In [ ]:
df3=pd.DataFrame(np.random.rand(4,3),columns=['b','d','e'],
index=['Seoul','Incheon','Busan','Daegu'])
df3

In [ ]:
df3.sort_index(axis=0)

In [ ]:
func=lambda x:x.max()-x.min()
def func(x):
    return x.max()-x.min()
print(df3.max(axis=0))
print(df3.min(axis=0))
print(df3.apply(func,axis=0))

In [ ]:
input_file="data/input.csv"
output_file="data/output1.csv"
with open(input_file,'r',newline='') as reader:
    with open(output_file,'w', newline='') as writer:
        header=reader.readline()
        header=header.strip()
        header_list=header.split(',')
        print(header_list)
        
        writer.write(','.join(map(str,header_list))+'\n')
        for row in reader:
            row=row.strip()
            row_list=row.split(',')
            print(row_list)
            writer.writer(','.join(map(str,row_list))+'\n')

In [ ]:
import sys
input_file="data/input.csv"
output_file="data/output2.csv"
data_frame=pd.read_csv(input_file)
print(data_frame)
data_frame.to_csv(output_file,index=False)

In [14]:
import csv
input_file="data/input.csv"
output_file="data/output4.csv"
with open(input_file,'r',newline='')as csv_in_file:
    with open(output_file,'w',newline='')as csv_out_file:
        filereader=csv.reader(csv_in_file)
        filewriter=csv.writer(csv_out_file)
        header=next(filereader)
        filewriter.writerow(header)
        for row in filereader:
            supplier=str(row[0]).strip()
            cost=str(row[3]).strip('$').replace(',','')
            if supplier=='A' and float(cost)>=600000.0:
                print(row)
                filewriter.writerow(row)

['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']

In [18]:
output_file="data/output5.csv"
df=pd.read_csv(input_file)
df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
result=df.loc[(df['Supplier Name'].str.contains('A')) & (df['Cost']>600000.0),:]
print(result)
result

  Supplier Name Invoice Number  Part Number      Cost Purchase Date
2             A       001-1001         5407  750000.0    2014-01-20
3             A       001-1001         2341  750000.0    2014-01-20