In [ ]:
print("tell me your age")
myage=int(input())
if myage<30:
    print("welcome to this club")
else: 
    print("You are not accepted")

In [ ]:
a=100
b=100
print(a is b)

In [ ]:
a=300
b=100
print(a is b)

In [ ]:
String aa="java";
String bb="java";

In [ ]:
(3>5)<10

In [ ]:
print((3>5)<10)

In [ ]:
score = int(input("Enter your score:"))

if score >=90: grade='A'
elif score >=80: grade='B'
elif score >=70: grade='C'
elif score >=60: grade='D'
elif score < 60:grade='F'
    
print(grade)

In [ ]:
age = int(input("enter your age:"))


if age <= 26: print("not a student")
    if age >=20 :print("collage")
    elif age >= 17 : print("high")
    elif age >=14 : print("middle")
    elif age >=8 : print("elementary")
    elif school: print("not a student")

print(age)

In [ ]:
for looper in[1,2,3,4,5]:
    print("hello")

In [ ]:
for looper in range(10):
    print("hello")

In [ ]:
for e in range(1,10,3):
    print(e)

In [ ]:
i=1
while i<10:
    print(i)
    i+=1

In [ ]:
sentence = "I love you James"
reverse_sentence=''
for char in sentence:
    reverse_sentence = char+reverse_sentence
print(reverse_sentence)

In [ ]:
a=['leah', 'tommy', 'ddingddong']
for i in a:
    print(i)
#for(int i=0; i<10;i++)
for i in range(10,0,-1):
    print(i)

In [ ]:
for i in range(10):
    if i==5: continue
    print(i)
print("End")

In [ ]:
for i in range(10):
    print(i)
    if i==5: continue
print("End")

In [ ]:
dan = input('구구단 몇단을 계산할까?')
for i in range(1,10):
    print(dan,'x',i,'=',int(dan)*i)

In [ ]:
for i in range(1,10):
    for j in range(2,10):
        print(j,"*", i, "=", j*i, end="\t")
    print()

In [ ]:
str="James"
for i in str:
    str=str[1:]+i
    print(str)

In [ ]:
str="James"
for i in str:
    str=str[0:]+i
    print(str)

In [ ]:
str="James"
for i in str:
    str=str[2:]+i
    print(str)

In [ ]:
num=10
result=""
while num>0:
    res=num%2
    num=num//2
    bina=str(re)+bina
print(bina)

kor_score=[49,80,20,100,80]
math_score=[43,60,85,30,90]
eng_score=[49,82,48,50,100]
midterm_score=[kor_score,math_score,eng_score]

student_score=[0,0,0,0,0]
i=0
for subject in midterm_score:
    for score in subject:
        student_score[i]+=score
        i+=1
    i=0
else:
    a,b,c,d,e=student_score
    student_average=[a/3, b/3, c/3, d/3, e/3]
    print(student_average)

In [ ]:
kor_score=[49,80,20,100,80] 
math_score=[43,60,85,30,90] 
eng_score=[49,82,48,50,100] 
midterm_score=[kor_score,math_score,eng_score]

student_score=[0,0,0,0,0] 
i=0 
for subject in midterm_score: 
    for score in subject: 
        student_score[i]+=score 
        i+=1 
    i=0 
else: 
    a,b,c,d,e=student_score 
    student_average=[a/3, b/3, c/3, d/3, e/3] 
    print(student_average)

In [ ]:
kor_score=[50,60,70,80,90]
math_score=[50,60,70,80,90]
e_score=[100,85,68,75,50]
avg_score=[0,0,0,0,0]
score=[kor_score, math_score, e_score]
for i in range(3):
    for j in range(5):
        avg_score[j]+=score[i][j]
    print(avg_score)

In [ ]:
def func1(a):
    a=5
    print(a)
i=10
func1(i)
print(i)

In [ ]:
def func1():
    s='i love ATL'
    print(s)
    
s='i love NY'
func1()
print(s)

In [ ]:
def factorial(n):
    if n==1:
        return 1
    else:
        print(n,'*',end='')
        return n*factorial(n-1)
num=int(input('how to calculate factorial '))
print(str(num)+'!=', end='')
result=factorial(num)
print(1,'=',result)

In [ ]:
def print_something(my_name, your_name):
    print("Hello{0}, My name is {1}".format(your_name, my_name))
    
print_something("James", "Thomas Horstmeyer")
print_something(your_name="TEAMLAB", my_name="James")

In [3]:
def func(i,j=20): #default value is not the first place
    print('i={0}, j={1}'.format(i,j))

func(j=10,i=20)
func(10,30)
func(50)

i=20, j=10
i=10, j=30
i=50, j=20